:root {
  --sidebar-width: 8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* CORE */
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  background: #222;
  font-size: 1.6rem;
  color: white;
  min-height: 100dvh;
}
/**/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  max-width: 100%;
  height: 100dvh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  transition: width 0.2s ease;
}
nav:hover,
nav:focus-within {
  width: calc(var(--sidebar-width) * 4);
}
nav li:not(:last-child) {
  margin-bottom: 1rem;
}
nav li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: calc(var(--sidebar-width) - 2rem);
  background: red;
  overflow: hidden;
  border-radius: 0.4rem;
}
nav li a img {
  flex-shrink: 0;
  max-width: calc(var(--sidebar-width) - 2rem);
  object-fit: contain;
  padding: 0.5rem;
}
nav li span {
  opacity: 0;
  transition: opacity 0.2s ease;
  padding-right: 0.5rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav:hover span,
nav:focus-within span {
  opacity: 1;
}
header,
main,
footer {
  padding: 4rem 4rem 4rem calc(var(--sidebar-width) + 4rem);
}
header {
}
main {
  flex-grow: 1;
}
footer {
}
/* UNSET */
img {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
}
ul {
  list-style: none;
}
input {
  font: inherit;
}

@media only screen and (max-width: 768px) {
  /* TODO: NAV */
  header,
  main,
  footer {
    padding: 4rem;
  }
}
