:root {
  --sidebar-width: 8rem;
  --clr-bg: hsl(193, 90%, 4%);
  --clr-bg-popout: hsl(75, 7.41%, 10.59%);
  --clr-gold: hsl(45, 44%, 46%);
  /* --clr-gradient-gold: linear-gradient(rgb(0, 255, 102), var(--clr-gold)); */
  --clr-gradient-tab: linear-gradient(hsl(199, 70%, 42%), hsl(191, 92%, 10%));
  --clr-gheading: hsl(60, 100%, 90%);
  --clr-brown: hsl(10, 100, 9);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* CORE */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: white;
  background: black;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem 0 4rem;
  min-height: 100dvh;
  padding-top: 4rem;
  margin-left: var(--sidebar-width);
}
header,
main,
footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer {
  font-size: 1.2rem;
  text-align: center;
}
footer a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
/**/
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  max-width: 100%;
  height: 100dvh;
  padding: 1rem;
  background: var(--clr-bg);
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  transition: width 0.2s ease;
  box-shadow: 0 0 1rem black;
  z-index: 9999;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-shadow: inset 0 0 1rem hsl(69, 16%, 15%);
}
.sidenav:hover,
.sidenav:has(a:focus-visible) {
  width: calc(var(--sidebar-width) * 4);
}
.sidenav-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.sidenav-logo {
  flex-shrink: 0;
  width: calc(var(--sidebar-width) - 2rem);
  height: 6.8rem;
  background-image: url("/logo-idle-60x.webp");
  animation: logo-anim 2.3s steps(25) infinite;
}
.loader-logo {
  flex-shrink: 0;
  width: calc(var(--sidebar-width) - 2rem);
  height: 6.8rem;
  background-image: url("/logo-idle-60x.webp");
  animation: logo-anim 2.3s steps(25) infinite;
}
.sidenav-logo-wrapper:hover .sidenav-logo,
.sidenav-logo-wrapper:focus-visible .sidenav-logo {
  background-image: url("/logo-lit-60x.webp");
}
.sidenav-logo-wrapper span {
  max-width: 100%;
  padding-right: 1rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.dolist {
  list-style: disc;
  list-style-position: inside;
  text-indent: 1rem;
}
.dolist:not(:last-child) {
  margin-bottom: 2rem;
}
.attr a:hover {
  text-decoration: underline;
}
@keyframes logo-anim {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1500px;
  }
}

/* SIDENAV LINKS */
.sidenav .mainLink {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: calc(var(--sidebar-width) - 2rem);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  overflow: hidden;
}
.sidenav .mainLink.activeLink {
  color: white;
  border: 0.2rem solid var(--clr-gold);
  background: var(--clr-gradient-tab);
  box-shadow: inset 0 0 0.3rem black, 0 0 1rem rgba(0, 0, 0, 0.4);
}
.sidenav .mainLink svg {
  flex-shrink: 0;
  padding: 1rem;
  object-fit: contain;
  max-width: calc(var(--sidebar-width) - 2.4rem);
}
.sidenav li:not(:last-child) {
  margin-bottom: 1rem;
}
.sidenav .mainLink span {
  max-width: 100%;
  padding-right: 1rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.sidenav:hover span,
.sidenav:has(a:focus-visible) span {
  opacity: 1;
}
.sidenav li a:not(.activeLink):hover,
.sidenav li a:not(.activeLink):focus-visible {
  background: rgba(0, 0, 0, 0.3);
}
h1,
.sidenav li span,
.sidenav-logo-wrapper span {
  font-family: var(--font-playfairSC);
}
h1 {
  font-weight: 400;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}
/* UNSET */
img {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
input {
  font: inherit;
}
/* SUBNAV */
.subnav {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: hsla(from var(--clr-gheading) h s l / 0.7);
  background: var(--clr-gradient-tab);
  border: 0.2rem solid var(--clr-gold);
  overflow: hidden;
}
.subnav img {
  width: 4rem;
  align-self: stretch;
  object-fit: cover;
}
.subnav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 1rem 0;
}
.subnav ul li:not(:last-child)::after {
  content: "|";
  margin: 0 1rem;
}
.subnav li a:hover,
.subnav li a:focus-visible {
  text-decoration: underline;
}
.activeSubNavLink {
  color: var(--clr-gheading);
  font-weight: 700;
}
/* PANEL */
.panel {
  background: var(--clr-bg);
  box-shadow: inset 0 0 1rem hsl(69, 16%, 15%);
  border-radius: 0.4rem;
  border: 0.2rem solid hsla(from var(--clr-gold) h s l / 0.3);
  overflow: hidden;
}
/* PAPYRUS SECTION */
.panel section {
  background: url("/papyrus.webp");
  border: 0.2rem solid var(--clr-gold);
  overflow: hidden;
}
.section-content {
  padding: 2rem;
  color: black;
  box-shadow: inset 0 0 2rem rgb(54, 39, 4);
}
.section-content p:not(:last-child) {
  margin-bottom: 1.5em;
}
.divider {
  height: 0.5rem;
  box-shadow: inset 0 0 0.4rem rgb(77, 56, 7);
  border: none;
  backdrop-filter: saturate(1.5);
  margin: 2rem 0;
}
.section-content h3 {
  margin-bottom: 1rem;
}

/* RACE/CLASSES */
.race-wrapper {
  padding-bottom: 4rem;
}
.class-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}
.class-banner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 20rem;
  margin-bottom: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 2rem 0.4rem 0.4rem 2rem;
  background: hsla(226.875, 61.53%, 40.78%, 32.94%);
  backdrop-filter: blur(1);
}
.class-banner img {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border: 0.3rem solid var(--clr-gold);
  border-radius: 999rem;
}
.class-banner h4 {
  margin-left: 6rem;
  line-height: 0.8em;
  overflow: hidden;
}
.class-banner span {
  display: block;
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.5;
}
.class-wrapper p {
  backdrop-filter: brightness(0.95) saturate(1.4);
  box-shadow: inset 0 0 1rem rgb(54, 39, 4);
  padding: 1rem;
  border-radius: 0.4rem;
}

/* REGIONS SECTION */
.grid-maps {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
figure {
  position: relative;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 1rem rgb(54, 39, 4);
  backdrop-filter: brightness(0.95) saturate(1.4);
  overflow: hidden;
  cursor: pointer;
}
.grid-maps:has(figure:hover) figure:not(:hover) img,
.grid-maps:has(figure:focus-visible) figure:not(:focus-visible) img {
  filter: blur(0.2rem) saturate(0);
}
figure svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  color: transparent;
  pointer-events: none;
  transition: color ease 0.2s;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
}
figure:hover svg,
figure:focus-visible svg {
  color: rgba(255, 255, 255, 0.7);
}
figure img {
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: filter ease 0.2s;
  width: 100%;
}
figcaption {
  padding: 1rem;
  text-align: center;
}
figcaption span {
  display: block;
  font-style: italic;
  opacity: 0.5;
}
/* LIGHTBOX (DIALOG) */
.lightbox {
  max-width: 85%;
  max-height: 85%;
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  background: url("/papyrus.webp");
  box-shadow: inset 0 0 10rem rgb(54, 39, 4);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}
.lightbox::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1);
}
.lightbox .loader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transform-component-module_wrapper__SPB86 {
  width: 100% !important;
  height: 100% !important;
}
.lightbox .tools {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1);
  padding: 1rem;
}
.lightbox .tools button {
  width: 4rem;
  height: 4rem;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  transition: color ease 0.2s;
}
.lightbox .tools button:hover,
.lightbox .tools button:focus-visible {
  color: white;
}
.btn-close-lightbox {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid var(--clr-gold);
  background: var(--clr-gradient-tab);
  box-shadow: inset 0 0 0.3rem black, 0 0 1rem rgba(0, 0, 0, 0.4);
  color: white;
  transition: box-shadow ease 0.2s, color ease 0.2s;
}
.btn-close-lightbox:hover,
.btn-close-lightbox:focus-visible {
  box-shadow: inset 0 0 0.3rem black, 0 0 2rem hsl(199, 69%, 65%);
}
.btn-close-lightbox:active {
  background: hsl(191, 92%, 10%);
  color: rgb(136, 136, 136);
}

/* SCROLL TO TOP BUTTON */
.btn-scroll-to-top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "stack";
  place-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  background: var(--clr-bg);
  box-shadow: inset 0 0 1rem hsl(69, 16%, 15%);
  border: 0.2rem solid hsla(from var(--clr-gold) h s l / 0.3);
  transition: border 0.2s ease;
}
.btn-scroll-to-top > div {
  grid-area: stack;
  border: 0.1rem solid hsla(from var(--clr-gold) h s l / 0.3);
  width: 100%;
}
.btn-scroll-to-top svg {
  grid-area: stack;
  height: 4rem;
  color: hsla(from var(--clr-gold) h s l / 0.3);
  transition: color 0.2s ease;
  background: var(--clr-bg);
}
.btn-scroll-to-top:hover,
.btn-scroll-to-top:focus-visible {
  border: 0.2rem solid var(--clr-gold);
}
.btn-scroll-to-top:hover svg,
.btn-scroll-to-top:focus-visible svg {
  color: var(--clr-gold);
}

/* MAPS HEADER (Title + Search Bar) */
.maps-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}
/* TABLE */
.table-search {
  position: relative;
  padding: 1rem;
  border: none;
  outline: none;
  background: none;
  box-shadow: inset 0 0 0.4rem rgb(77, 56, 7);
  backdrop-filter: saturate(1.5);
  font-family: inherit;
  min-width: 0;
}
@media only screen and (max-width: 500px) {
  .maps-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .table-search {
    width: 100%;
  }
}
.table-search::placeholder {
  color: var(--clr-brown);
  opacity: 0.4;
}
.table-search::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  right: 0.5rem;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23300800'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.5;
}
.table {
  position: relative;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td:not(.td-preview) {
  padding: 1rem;
  text-align: left;
}
.table thead tr {
  backdrop-filter: brightness(0.95) saturate(1.6);
}
.table tbody {
  vertical-align: top;
}
.table tbody {
  word-break: break-word;
}
.table tbody tr {
  backdrop-filter: brightness(0.95) saturate(1.4);
}
.table tbody tr:nth-child(even) {
  backdrop-filter: brightness(0.9) saturate(1.6);
}
.tborder {
  border-right: 0.5rem solid rgba(81, 59, 21, 0.1);
}
.th-static {
  width: 11rem;
}
.th-static2 {
  width: 18rem;
}
/* TABLE MAPS IMAGE PREVIEW */
.table th.th-preview {
  text-align: center;
}
.td-preview {
  position: relative;
  height: 5rem;
  vertical-align: center;
}
.td-preview img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.table::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 1rem rgb(54, 39, 4);
  pointer-events: none;
}
.table tr:has(.td-preview:hover) {
  position: relative;
  z-index: 1;
}
.td-preview:hover img {
  position: fixed;
  max-width: min(50%, 80rem);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
  mask-image: unset;
  -webkit-mask-image: unset;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.td-preview img {
  pointer-events: none;
}
.link:hover {
  text-decoration: underline;
}
/* FILE DOWNLOAD BUTTON (SVG & Filename as link "button")*/
.btn-download {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
.btn-download:hover {
  text-decoration: underline;
}
.btn-download svg {
  flex-shrink: 0;
  height: 1em;
}
/* CUSTOM AUDIO PLAYER */
.th-audio {
  width: 20rem;
}
.play-button,
.mute-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
}
.play-button svg,
.mute-button {
  object-fit: contain;
}
.time-displays {
  font-size: 1.2rem;
}
input[type="range"]:hover {
  cursor: pointer;
}
.controls {
  display: flex;
  align-items: center;
}
.seek-slider {
  width: 8rem;
  flex-grow: 1;
}
.volume-wrapper {
  display: flex;
  justify-content: flex-end;
  transition: flex-grow ease 0.2s;
}
.volume-slider {
  width: 0;
  opacity: 0;
}
@media (hover: hover) and (pointer: fine) {
  .volume-wrapper:hover,
  .volume-wrapper:has(:focus-visible) {
    flex-grow: 2;
  }
  .volume-wrapper:hover .volume-slider,
  .volume-wrapper:has(:focus-visible) .volume-slider {
    opacity: 1;
    width: 100%;
  }
}
.mute-button {
  flex-shrink: 0;
  position: relative;
}
.mute-button::after {
  position: absolute;
  inset: 0 0 0 -0.2rem;
  content: "";
}
/* DETAILS HEADER */
.details-header summary {
  cursor: pointer;
}
.details-header h3 {
  display: inline;
}

/* NOT FOUND PAGE */
.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/404.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  color: transparent;
}
.notfound h1 {
  font-size: 5rem;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  /* CONTENT SHIFT */
  body {
    padding: 0;
  }
  .content {
    padding: 0;
    margin-left: 0;
  }
  header,
  main,
  footer {
    width: calc(100% - 2rem);
  }
  .sidenav {
    display: flex;
    position: sticky;
    width: 100%;
    right: 0;
    height: 7rem;
    transition: none;
    overflow: hidden;
  }
  .sidenav:hover,
  .sidenav:has(a:focus-visible) {
    width: 100%;
  }
  .sidenav-logo-wrapper {
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 3vw;
  }
  .sidenav-logo {
    height: 100%;
  }
  .sidenav-logo-wrapper span {
    display: none;
  }
  .sidenav ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }
  .sidenav li:not(:last-child) {
    margin-bottom: 0;
  }
  .sidenav .mainLink {
    justify-content: center;
    height: 100%;
    aspect-ratio: 1/1;
  }
  .sidenav .mainLink svg {
    padding: 1rem;
  }
  .sidenav .mainLink span {
    display: none;
  }
  /* MAP TABLE */
  .th-preview {
    width: 20rem;
  }
}
@media only screen and (max-width: 670px) {
  /* REGIONS GRID */
  .grid-maps {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 598px) {
  /* Turn .table columns into full-width rows, make file "col" colored for visual split */
  .tborder {
    border-right: none;
  }
  .table thead {
    display: none;
  }
  .table tr {
    display: flex;
    flex-direction: column;
  }
  .table td:first-child {
    font-weight: 700;
  }
  .td-preview:hover img {
    max-width: min(80%, 80rem);
  }
}
@media only screen and (max-width: 428px) {
  /* REGIONS GRID */
  .grid-maps {
    grid-template-columns: minmax(0, 1fr);
  }
  header,
  main,
  footer {
    padding: 1rem;
  }
}
@media only screen and (max-width: 328px) {
  .section-content {
    padding: 1rem;
  }
}
